<div *ngIf="!articles">
    <img src="../../../assets/images/cargando.gif" width="5%" alt="">
</div>

<div *ngIf="articles && articles.length == 0">
    <h2>No hay articulos para mostrar, intentalo mas tarde.</h2>
</div>

<div id="articles">
    <div *ngFor="let article of articles">
        <article class="article-item" id="article-template" [routerLink]="['/blog/articulo',article._id]">
            <div class="image-wrap">
                <img src="{{url + 'get-image/'+article.image}}" alt="{{article.title}}" *ngIf="article.image">
                <img src="../../../assets/images/default.png" alt="{{article.title}}" *ngIf="!article.image">
            </div>
    
            <h2>{{article.title}}</h2>
            <span class="date">
                {{article.date | amLocale: 'es' | amTimeAgo}}
            </span>
            <a [routerLink]="['/blog/articulo',article._id]">Leer mas</a>
            <div class="clearfix"></div>
        </article>
    </div>
    <!-- Añadir articulos via js -->
</div>