.year-green{
    background: green;
    color: white;
    padding: 5px;
    width: 121px;
    text-align: center;
    display: block;
}

.year-red{
    background: rgb(128, 0, 0);
    color: white;
    padding: 5px;
    width: 121px;
    text-align: center;
    display: block;
}